<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- HEADER / NAVBAR SECTION -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2">
  <img src="http://localhost:1000/logo.png"alt="logo" height="80px">
  <a class="navbar-brand fw-bold fs-3" href="/">E-Learning</a>
  <div class="container">
    <!-- Logo -->

    <!-- Mobile Toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu Items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/courses">Courses</a>
        </li>
        <!-- Login Button -->
        <li class="nav-item ms-2">
          <a class="btn btn-primary px-3" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Bootstrap JS CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>