<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <%- include("./components/instructorHeader.ejs")%>
<div class="container mt-4">
<h2>Create Course</h2>
<form action="/instructorCreate" method="POST" enctype="multipart/form-data">
<div class="mb-3"><label>Title</label><input name="title" class="form-control"  placeholder="Enter Your Title" required></div>
<div class="mb-3"><label>Description</label><textarea name="description" class="form-control" placeholder="Enter Your description" ></textarea></div>
<div class="mb-3"><label>Category</label><input name="category" class="form-control" placeholder="Enter Your category " ></div>
<div class="mb-3"><label>Price (₹)</label><input name="price" type="number" class="form-control" placeholder="Enter Your price" ></div>
<div class="mb-3"><label>Cover Image</label><input name="coverImage" type="file" class="form-control"></div>
<button class="btn btn-primary">Create</button>
</form>
</div>

<%- include("./components/footer.ejs") %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

